body {
  margin:0px;
  padding:0px;
  background-color: #333;
  font-family: Arial;
}



.badge {
  width: 20px;
}

.navbar {
    border-bottom: 1px solid #232323;
    overflow: hidden;
    background-color: #111;
    font-family: Arial;

}

.navbar .a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 16px;
    background-color: inherit;
}

.navbar .a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
   color:white;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .a:hover {
    background-color: gray;
}

.show {
    display: block;
}

.links {
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1em;
  list-style-type: none;
  font-family: Arial,Helvetica,sans-serif;
  color: #f90;

}

.links:hover{
  text-decoration: underline;
}
.vidli {
  color:#FC7C24;
}
.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}

.gallery img {
  width: 100%;
  height: 120px;

}

.desc {
  position: relative;
  padding: 5px;
  bottom: 4px;
}

/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

.content {
 border: 1px solid #111;
  margin: 20px;
  padding: 10px 10px;
  background-color: #333;
  opacity: .70;
}

iframe {
  width: 854px;
  height: 480px;
}
.video {
  border: 1px solid #111;
  margin: 10px;
  padding: 10px 10px;
  background-color: #7A7A7A;
  opacity: .70;
}
.aa{
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px ;

}

.aa:hover{
  background-color: #333;
}
.log2 {
  color: grey;
  position: relative;
  left: 33px;
  bottom: 15px;
}
.log {
  color: grey;
  position: relative;
  left: 30px;
  bottom: 15px;
}

.butt2 {
  display:inline;
  background-color: #f90;
  color: black;
  border-radius: 5%;
  border: #fc7c24;
  padding: 5px 5px;
  top: 25px;
  text-align: center;
  position: relative;
  font-size: 1.1em;
  float: right;
}

.butt2:hover{
  background-color: grey;
  text-decoration: underline;
}

.butt:hover{
  background-color: grey;
  text-decoration: underline;
}
.butt {
  display:inline;
  background-color: #f90;
  color: black;
  border-radius: 5%;
  border: #fc7c24;
  padding: 4px 5px;
  float:right;
  position: relative;
  top:25px;
  text-align: center;
  right: 10px;
}
.logo {
  position: relative;
  top:5px;
}
.search {
  border-bottom: 1px solid #232323;
  background-color: #040404;
  margin:0px;
  padding:0px;

}
input[type=text]{
  width: 250px;
  height: 30px;
  position: relative;
  bottom:20px;
  border: none;
}
.ab{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  background-color: #000;
  border-bottom: 1px solid #232323;

}

.ac {
  float:left;
  display:inline-block;
  color: #fff;
  text-align: left;
}

.ac2 {
 color: #a1a1a1;
}

.top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  width:100%;
  font-size: 12px;

}

.nav {
  float: left;
}

.nav .nav1 {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav .nav1:hover {
  background-color: rgb(15, 15, 15);
}
.hot {
  border: 1px solid #1d1d1d;
  background-color: #0f0f0f;
  margin-bottom: 20px;
}

.buttons {
    text-decoration: none;
    color: black;
}

.caption {
  display: inline-block;
  color: white;
  margin-top: 0xpx;
}
