<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="images/favicon.ico" />
    
    <title>
     {{ page.title }}
    </title>
	  {% seo %}
  </head>
  <body>
    <ul class="ab">
      <li class="ac">
        <a class="aa" href="index.html">
          <strong>
            Workhub NETWORK
          </strong>
        </a>
      </li>
      <li class="ac">
        <a class="aa" v="" href="#">
          Workhub
        </a>
      </li>
      <li class="ac">
        <a class="aa" href="#">
          RedWork
        </a>
      </li>
      <li class="ac">
        <a class="aa" href="#">
          YouWork
        </a>
      </li>
      <li class="ac">
        <a class="aa" href="#">
          Work 8
        </a>
      </li>
      <li class="ac">
        <a class="aa" href="#">
          Workzilla
        </a>
      </li>
    </ul>

    <div class="search">
      <img class="logo" src="images/workhubpng.png" style="height: 60px;"/>
      <input placeholder="Search... SORRY NOT WORKING" maxlength="19" type="text" />
      <div class="butt2"  type="button">
        <strong>
        <a class="buttons" href="underdev.html">  Upload </a>
        </strong>
      </div>
      <div class="butt" type="button">
        <strong>
        <a class="buttons" href="underdev.html">  ★ Upgrade</a>
        </strong>
      </div>
      <a href="underdev.html" class="log">
        Log In
      </a>
      <a href="underdev.html"  class="log2">
        Sign Up</a>
    </div>
	  
    <div class="navbar">
  <a class="a" href="#home">Home</a>
  <a class="a" href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a class="a" href="#">Link 1</a>
      <a class="a" href="#">Link 2</a>
      <a class="a" href="#">Link 3</a>
    </div>
  </div> 
</div>
	  {{content}}
</body>
	
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
	
</html>
